
@{
        var list = ViewBag.listcmbr;
        var icon = "icon-check";
    }

    @for (int j = 1; j <= 5; j++)
    {<div class="btn-box-row row-fluid">
            @for (int i = (j * 5) - 4; i <= 5 * j+1 ; i++)
            {
                if (list.Contains(i))
                {
                    icon = "icon-check-empty";
                }
                else
                {
                    icon = "icon-check";
                }
                <a href="#" class="btn-box small span2">
                    <i class="@icon"></i>
                    <b>Chambre N° @i</b>
                </a>
            }

        </div>
    }
