@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/template.cshtml";
}


<div class="btn-box-row row-fluid">
    <a href="#" class="btn-box big span4">
        <i class=" icon-random"></i><b>@ViewBag.reservsem</b>
        <p class="text-muted">
            Chambres réservées
        </p>
    </a><a href="#" class="btn-box big span4">
        <i class="icon-user"></i><b>@ViewBag.client</b>
        <p class="text-muted">
            Clients
        </p>
    </a><a href="#" class="btn-box big span4">
        <i class="icon-money"></i><b>@ViewBag.money </b> 
        <p class="text-muted">
            DT
        </p>
    </a>
</div>