@model Hotel.Models.Reservation

@{
    ViewBag.Title = "Facture";
    Layout = null;
}
<h1>Erriadh Hotel Djerba</h1>
<center>
    <h2>Facture N°@Model.id</h2>
</center>
<br /><br />
<h3><b>Nom et Prénom :@Model.Clients.FirstOrDefault() </b></h3>
<h3><b>N° Chambre :@Model.chambre </b></h3>
<h3><b>Type Chambre :@Model.type </b></h3>
<h3><b>Montant payé :@Model.montant</b></h3>
<h3><b>Payé par(en) : @Model.methpaie  </b></h3>
<h3><b>Date du réservation : </b>de @Model.Arrivee.ToString("dd/MM/yyyy") à @Model.dft.ToString("dd/MM/yyyy")</h3>

<div class="span4 float-lg-right">
    <b><p>Djerba, le @DateTime.Today.Date.ToString("dd/MM/yyyy")</p></b>
</div>