@model Hotel.Models.Reservation

@{
    ViewBag.Title = "Facture";
    Layout = null;
}
<h1>Erriadh Hotel Djerba</h1>
<center>
    <h2>Facture N°2</h2>
</center>
<br /><br />
<h3><b>Nom et Prénom : </b></h3>
<h3><b>N° Chambre : </b></h3>
<h3><b>Type Chambre : </b></h3>
<h3><b>Montant payé : </b></h3>
<h3><b>Payé par(en) : </b></h3>
<h3><b>Date du réservation : </b>de 10/10/1111 à 20/10/1111</h3>

<div class="span4 float-lg-right">
    <b><p>Djerba, le @DateTime.Today.Date.ToString("dd/MM/yyyy")</p></b>
</div>